.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    margin: 100px 50px;
}

.cart-container {
    background-color: rgb(255, 224, 179);
}

/* Media query for medium device which max width is (576px to 720px) */
@media screen and (max-width: 720px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.pagination button,
select {
    margin-left: 10px;
    background-color: white;
    border: 1px solid orange;
    padding: 5px;
    cursor: pointer;
}

.pagination .selected {
    background-color: orange;
    color: white;
}


/* Media query for medium device which max width is (0px to 576px) */
@media screen and (max-width: 576px) {
    .products-container {
        grid-template-columns: repeat(1, 1fr);
    }
}